@import "tailwindcss";

@theme {
  --animate-shimmer: shimmer 10s linear infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-100%) translateY(-100%);
    }

    100% {
      transform: translateX(100%) translateY(100%);
    }
  }
  
  --animation-bounce: bounce 1s infinite;
  @keyframes bounce {
  0%, 70%,100% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  35% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
}

:root {
  font-family: 'SimHei', 'Microsoft YaHei', 'PingFang SC', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

